@import "tailwindcss";

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #EBC8C8;
  border-radius: 20px;
}
